
  <!-- Footer Section Begin -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <!-- Logo and About -->
            <div class="col-lg-3 col-md-6 col-sm-6">
<div class="footer__about footer__widget">
   

        <h6>Footchic</h6>
        <p>We specialize in stylish and comfortable sandals for every occasion. Your feet deserve the best!</p>
        <a href="#"><img src="img/payment.png" alt=""></a>
    </div>
</div>


            <!-- Products -->
            <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                <div class="footer__widget">
                    <h6>Products</h6>
                    <ul>
                        <li><a href="#">Casual Sandals</a></li>
                        <li><a href="#">Formal Sandals</a></li>
                        <li><a href="#">Trending Styles</a></li>
                        <li><a href="#">Offers & Discounts</a></li>
                    </ul>
                </div>
            </div>

            <!-- Assistance -->
            <div class="col-lg-2 col-md-3 col-sm-6">
                <div class="footer__widget">
                    <h6>Assistance</h6>
                    <ul>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Track Order</a></li>
                        <li><a href="#">Return Policy</a></li>
                        <li><a href="#">FAQs</a></li>
                    </ul>
                </div>
            </div>

            <!-- Contact -->
            <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                <div class="footer__widget">
                    <h6>Contact</h6>
                    <ul>
                        <li><a href="#"><i class="fa fa-map-marker"></i> 123 Sandal Street, New York, NY</a></li>
                        <li><a href="tel:+1234567890"><i class="fa fa-phone"></i> +1 234 567 890</a></li>
                        <li><a href="mailto:support@menssandals.com"><i class="fa fa-envelope"></i> support@menssandals.com</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Centered Copyright -->
       


   <div class="row mt-4">
            <div class="col-lg-12">
                <div class="footer__copyright__text text-center">
                    <p>
                        &copy; <script>document.write(new Date().getFullYear());</script> Mens Sandals. All rights reserved.
                        Made with <i class="fa fa-heart-o" aria-hidden="true"></i> for your style and comfort.
                    </p>
                </div>
            </div>
        </div>
    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
        </div>
</footer>
    <!-- Search End -->

    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery.nicescroll.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>