<%-include("../../views/partials/admin/header")%>

<section class="content-main">
  <div class="content-header">
    <h2 class="content-title card-title">Dashboard</h2>
  </div>

  <!-- Example stats cards -->
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <h5>Total Customers</h5>
          <h3><%= customerCount %></h3>
        </div>
      </div>
    </div>
  </div>
</section>

<%-include("../../views/partials/admin/footer")%>
